@model MVC5AndBootstrap.Models.Person

@{
    ViewBag.Title = "Index";
    var likesMusic = Model.LikesMusic ? "active" : null;
    var notAMusicFan = !Model.LikesMusic ? "active" : null;
}

<h2>Index</h2>

<div class="page-header">
    <h1>Welcome to the Person page <small>Read all about @Model.FirstName</small></h1>
</div>

@Html.DisplayForModel(Model)

@*<div>
    <h3>@Model.FirstName @Model.LastName</h3>
    <p>@Model.FirstName was born on @Model.BirthDate.ToString("D").</p>
    <p>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success btn-sm @likesMusic">
                <input type="radio" name="options" id="option1" /> Like Music
            </label>

            <label class="btn btn-success btn-sm @notAMusicFan">
                <input type="radio" name="options" id="option2" /> Not a music fan?
            </label>
        </div>
    </p>

    <p>Likes Music: @Html.DisplayFor(model => model.LikesMusic)</p>
</div>

@{ 
    ViewBag.ListDescription = "Skills:";
    Html.RenderPartial("_StringCollection", Model.Skills);
}*@

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LikesMusic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LikesMusic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
